{% use 'form_div_layout.html.twig' %}

{%- block form_row -%}
    <div>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{% block choice_widget_expanded %}
    <div class="table">
        {% spaceless %}
            <div class="table__header">
                <div class="table__row">
                    <div class="table__col table__col--directory">
                        <label class="text">Справочники</label>
                    </div>
                    <div class="table__col">
                        <label class="text">Просмотр</label>
                    </div>
                    <div class="table__col">
                        <label class="text">Подробный просмотр</label>
                    </div>
                    <div class="table__col">
                        <label class="text">Добавление</label>
                    </div>
                    <div class="table__col">
                        <label class="text">Редактирование</label>
                    </div>
                    <div class="table__col">
                        <label class="text">Удаление</label>
                    </div>
                    <div class="table__col">
                        <label class="text">Экспорт</label>
                    </div>
                </div>
            </div>
            <div class="table__body">
                <div {{ block('widget_container_attributes') }}>
                    {%- for code, choiceGroup in form.vars.choices %}
                        <div class="table__row">
                            <div class="table__col table__col--directory"><label class="text">{{ code }}</label></div>
                            {% for key, choice in choiceGroup %}
                                <div class="table__col">
                                    <div class="input-checkbox remove-label" style="display:inline-block !important">
                                        {{- form_widget(form[key]) -}}
                                        {{- form_label(form[key], null, {"label": " "}) -}}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor -%}
                </div>
            </div>
        {% endspaceless %}
    </div>
{% endblock choice_widget_expanded %}
