{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger">{{ 'http_error.name'|trans({ '%status_code%': 404 }) }}</h1>

    <p class="lead">
        {{ 'http_error_404.description'|trans }}
    </p>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
