{% extends 'base.html.twig' %}

{% block container %}
    <div class="error-page">
      <div class="graphic graphic--lock">
        <svg viewBox="0 0 90 91"><use xlink:href="#g_lock"></use></svg>
      </div>
      <div class="title">{{ message }}</div>
      <a href="javascript:history.back(1)" class="big-button">Вернутьcя назад</a>
    </div>
{% endblock %}
