{% extends 'AppBundle::layout.html.twig' %}
{% block layout %}
    <div class="layout">
        <div class='layout__menu'>
            <div class="grid">
                <div class="grid__colum">
                    <a href="#" class="button-square">
                        <div class="icon icon--mosgortrans">
                            <svg viewbox="0 0 30 30"><use xlink:href="#mosgortrans"></use></svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="error-page">
            <div class="graphic graphic--lock">
                <svg viewBox="0 0 90 91"><use xlink:href="#g_lock"></use></svg>
            </div>
            <div class="title">{{ message }}</div>
        </div>
    </div>
{% endblock layout %}
