{% macro card(item, isTemplate) %}
    {% set id = item.id|default('') %}
    <div id="item-card-{{ id }}" 
         data-id="{{ id }}" 
         class="item-card {{ isTemplate ? 'item-template hide' }} item-card--{{ (item is not null and item.type) ? 'plus' : 'minus' }}">
        <div class="title">
            <div class="item-actions">
                {% for icon, tooltip in {"question":"Подробный просмотр", "delete": "Удалить"} %}
                    <div class="icon icon-action icon-{{ icon }}" title="{{ tooltip }}">
                        <svg viewbox="-5 -5 40 40" fill="#3C5267">
                            <use xlink:href="#{{ icon }}"></use>
                        </svg>
                    </div>
                {% endfor %}
            </div>
            <div class="icon">
                <svg viewbox="-5 -5 40 40" fill="#3C5267">
                    <use xlink:href="#document"></use>
                </svg>
            </div> 
            <span>{{ item.title|default('') }}</span>
        </div>
        <div class="time total"> 
            <div class="icon" title="Сумма">
                <svg viewbox="-5 -5 40 40" fill="#3C5267">
                    <use xlink:href="#number"></use>
                </svg>
            </div>
            <span>{{ item.total|default('') }}</span> 
        </div>
    </div>
{% endmacro %}

