{% extends 'base.html.twig' %}
{% import 'AppBundle:Item:item.card.html.twig' as item %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/public/css/*'
                filter='cssrewrite'
                output='bundles/app/css/*.css'
                    '@AppBundle/Resources/public/css/layout.css'
                    '@AppBundle/Resources/public/css/calendar.css'
                    '@AppBundle/Resources/public/css/main.index.css'
    %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
{% endblock %}
{% block container %}
    <div>
        {% block body %}
            <div>
                <div id="main" class="col-sm-8">
                    {% block main %}
                        <div id="calendar"></div>
                    {% endblock %}
                </div>
                <div id="sidebar" class="col-sm-4">
                    {% block sidebar %}
                        <div id="item-list-sidebar">
                            <div id="item-create" class="item-card">Доавить статью</div>
                            {{ item.card(null, true) }}
                            <div id="item-list"></div>
                        </div>
                    {% endblock %}
                </div>
            </div>
            {% include 'AppBundle:Item/Modal:item.form.html.twig' %}
            {% include 'AppBundle:Item/Modal:item.view.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
             output='resources/js/*.js'
                    '@AppBundle/Resources/public/js/calendar.js'
                    '@AppBundle/Resources/public/js/main.item.index.js'
                    '@AppBundle/Resources/public/js/item.list.js'
            %}
            <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

