<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Diary{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                filter='cssrewrite'
                output='resources/css/*.css'
                    '@AppBundle/Resources/public/css/bootstrap-flatly-3.3.7.min.css'
                    '@AppBundle/Resources/public/css/bootstrap-datetimepicker.min.css'
                    '@AppBundle/Resources/public/css/modal.css'
                    '@AppBundle/Resources/public/css/animate.css' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% spaceless %}{% include 'public/img/icons.svg' %}{% endspaceless %}
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-collapse">
                            <a class="navbar-brand" href="/">Diary</a>
                            <ul class="nav navbar-nav navbar-right">
                                {% if app.user is not null %}
                                    <li><a href="#">{{ app.user.username }}</a></li>
                                    <li><a href="{{ path('security_logout') }}">Выйти</a></li>
                                {% else %}
                                    <li><a href="{{ path("security_login") }}">Присоединиться</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block container %}
        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-8">
                        {% block main %}{% endblock %}
                    </div>
                    <div id="sidebar" class="col-sm-4">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
            {% javascripts
                output='resources/js/*.js'
                    '@AppBundle/Resources/public/js/bootstrap-3.3.7.min.js'
                    '@AppBundle/Resources/public/js/moment.min.js'
                    '@AppBundle/Resources/public/js/bootstrap-datetimepicker.min.js'
                    '@AppBundle/Resources/public/js/selector.storage.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
