<!DOCTYPE html>
<html>
    <head>
        <title>СЦ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block stylesheets %}
            {% stylesheets
                filter='cssrewrite'
                output='resources/css/*.css'
                    '@AppBundle/Resources/public/css/app.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic-ext" rel="stylesheet">
    </head>

    <body{% block bodyAttr %}{% endblock %}>

        {% block body %}
            {% spaceless %}{% include '@AppBundle/Resources/public/img/icons.svg' %}{% endspaceless %}
            {% spaceless %}{% include '@AppBundle/Resources/public/img/graphic.svg' %}{% endspaceless %}
            
            {% block layout %}
                <div class="layout">
                    <div class='layout__menu'>
                        <div class="grid">
                            <div class="grid__colum">
                                
                            </div>
                        </div>
                    </div>
                    <div class="error">
                        {% block errorcontent %}
                        {% endblock errorcontent %}
                    </div>
                </div>
            {% endblock layout %}
        {% endblock body %}
        
    </body>
</html>
