{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                {{ form_start(form, {"attr":{"class":"entity-form", "novalidate": true} }) }}
                    {% block form %}
                        <div class="form-block">
                            <div class="form-block__title">
                                <div class="text">
                                    {% block form_title %}Регистрация пользователя{% endblock %}
                                </div>
                            </div>
                            <div class="form-block__content">
                                {% block form_main_block %}
                                    {% for child in form.children %}
                                        <div class="input-block">
                                            {{ form_row(child) }}
                                        </div>
                                    {% endfor %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                    <input type="submit" value="Сохранить" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}