<div id="{% block modalId %}{% endblock %}" class="modal-custom hide">
    {% block modalTitleBlock %}
        <div class="modal-custom__title">
            <div class="title">{% block modalTitle %}{% endblock %}</div>
            {% block modalActions %}
                <div class="button-action modal-custom-close">
                    <div class="icon icon--close">
                        <svg viewbox="0 0 50 50" fill="whitesmoke">
                            <use xlink:href="#close"></use>
                        </svg>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
    {% block modalContent %}
    {% endblock %}
</div>
