{% extends 'modal.html.twig' %}
{% block modalContent %}
    {% block modalForm %}
        <div class="modal-custom__content {% block modalClassForm %}{% endblock %}">
            {% block modalFormContent %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}
