{% extends 'modal.html.twig' %}
{% block modalContent %}
    {% block modalView %}
        <div class="modal-custom__content {% block modalClassView %}{% endblock %}">
            {% block modalViewContent %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}
