{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.page.css') }}">
{% endblock %}

{% block container %}
    <div class="container body-container">
        {% if error is defined and error is not null %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="login-page">
            <div id="login-main">
                <div id="login-block">
                    <form action="{{ path('security_login') }}" method="post">
                        <div class="form-group">
                            <label for="username">Имя пользователя</label>
                            <input type="text" id="username" name="_username" value="{%if last_username is defined %}{{ last_username }}{% endif %}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary login-submit">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Войти
                        </button>
                    </form>
                </div>
                <div id="registration-block">
                    {{ form_start(form, {"attr":{"action": path("app_security_registration"), "class":"entity-form", "novalidate": true} }) }}
                        {% block form %}
                            <div class="form-block">
                                <div class="form-block__content">
                                    <div class="input-block">{{ form_row(form.username) }}</div>
                                    <div class="input-block">{{ form_row(form.email) }}</div>
                                    <div class="input-block">{{ form_row(form.password) }}</div> 
                                    <div class="input-block">{{ form_row(form.fullname) }}</div>
                                    <div class="input-block">{{ form_row(form.dateOfBirth) }}</div>
                                    <div class="input-block">{{ form_row(form.captcha) }}</div>
                                </div>
                            </div>
                        {% endblock %}
                        <button type="submit" class="btn btn-primary login-submit">
                            <i class="fa fa-registered" aria-hidden="true"></i> Зарегистрироваться
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div id="login-news">
                <h3>Информация</h3>
                <div id="login-users-help" class="panel panel-default">
                    <div class="panel-body">
                        <p><span class="label label-success">Новости</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
