div.month-prev, div.month-current, div.month-next {
    vertical-align: top;
    display:inline-block;
    padding: 10px;
}

div.month-current {
    vertical-align: middle;
    cursor: default;
    font-size: 18px;
}

div.month-prev > span, div.month-next > span {
    cursor: pointer;
    font-size: 12px;
}

.block-table { 
    display: inline-block;
    width:100%;
    text-align: center;
}

.block-table-row { 
    display: block; 
} 
.block-table-heading {
    background: whitesmoke;
    display: block;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    margin-bottom: 13px;
}

.block-table-cell { 
    display: inline-block; 
    border: 2px solid #E0EEF0;
    text-align: center;
    margin: 0.5%;
    width: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.block-table-cell.current-month {
    cursor: pointer;
    background: #E0EEF0;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
    transition: background linear 0.2s;
}

.block-table-cell.current-month > span {
    cursor: pointer;
}

.block-table-cell.current-month:hover {
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
    background: #ABD3D9;
}

.block-table-cell.current-month--active {
    background: #2c3e50;
    color: #E0EEF0;
}

.block-table-cell.other-month {
    border: 2px solid whitesmoke;
    background: whitesmoke;
    color: darkgray;
}

.block-table-head {
    display: inline-block; 
    width: 10%;
    text-align: center;
    margin: 0.5%;
    font-size: 12px;
}

.calendar-nav {
    background: darkgray;
    width: 100%;
    text-align:center;
    padding-top: 5px;
}