.form-block--tab .input-block {
  width: 300px;
  display: inline-flex;
  margin-top: 30px;
}
#form-readyActions .input-block {
  width: 100%;
}
.form-block--tab .input-block .text:last-of-type {
  margin-top: 10px;
  color: #2269b2;
}

.form-block__content .input-block:first-child {
  margin-top: 30px;
}
.form-block__content .input-block:last-child {
  margin-bottom: 20px;
}
.ns-attachments .text p{
  margin-top: 0;
}
.ns-attachments .text:last-child{
  margin-top: 0 !important;
}
.input-block {
  margin-top: 20px;
  flex-direction: column;
}

.input-block-group {
  display: inline-block;
}

.input-block-group.total {
  width: 30%;
}

.input-block-group.type {
  width: 20%;
}

.input-block-group.category {
  width: 48%;
}

.input-block ul, #tbody-steps ul, #tbody-items ul {
  list-style: none;
  padding: 15px;
  background: #e74c3c;
  /* margin: 10px 0; */
  margin: 0 0 15px 0;
  color: white;
  font-size: 14px;
}
.input-block > div {
  display: flex;
  flex-direction: column;
}
.input-block--wrap {
  display: block;
}
.input-block--phone {
  margin-top: 0;
}
.input-block--phone textarea {
  height: 50px;
  margin: 10px;
}
.input-block--wrap .input-radio {
  margin-bottom: 20px;
}
.input-block label {
  margin-bottom: 10px;
  color: #656565;
  display: block;
  font-size: 14px;
  line-height: 14px;
}
.input-block input:not(.main-button), .input-block select{
  color: #2269B2;
  background-color: rgba(34, 105, 178, 0.1);
  border: none;
  padding: 7px;
  font-size: 13px;
}
.input-block select {
  width: 100%;
  padding: 4px 5px;
}
.input-block textarea {
  border: none;
  color: #2269b2;
  font-size: 13px;
  resize: none;
  padding: 7px;
  background-color: rgba(34, 105, 178, 0.1);
}
.input-block textarea:focus {
  outline: none;
}