select {
    cursor:pointer;
}

.icon {
    width: 19px;
    height: 16px;
    position: relative;
    display: inline-block;
}

.icon.icon--close, .icon.icon--edit {
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.icon-medium {
    width: 25px;
    height: 25px;
    position: relative;
    float: right;
    padding-right: 5px;
    padding-top: 2px;
}

.icon svg, .icon-medium svg {
    position: absolute;
}

.icon.icon-action svg:hover {
    -webkit-transition: fill linear 0.3s;
    -moz-transition: fill linear 0.3s;
    -o-transition: fill linear 0.3s;
    transition: fill linear 0.3s;
    fill: #18bc9c;
}

.hide {
    display: none;
}

.form-control {
    border-width: 2px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
}

.form-group {
    position: relative;
}

textarea.form-textarea {
    resize: none;
    height: 100px;
}

.main-button {
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
    transition: background linear 0.2s;
    width: 100%;    
    background: #2c3e50;
    color: #E0EEF0;
    border: none;
    height: 40px;
}

.main-button:hover {
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
    background: #3C5267;
}

.form-group ul.errors {
    font-size: 13px;
    background: red;
    color: whitesmoke;
    padding: 0px;
    padding-left: 5px;
}

.form-group ul.errors li {
    list-style-type: none;
}

.view-block__content .info-line {
  margin-bottom: 15px;
  margin-left: 10px;
}
