div.login-page {
    width: 100%;
    margin-left: 1%;
}

div#login-main {
    width: 50%;
    display: inline-block;
}

div#login-block, div#registration-block {
    padding: 1%;
    padding-bottom: 2%;
    margin-top: 5px;
    border-radius: 5px;
    background: #D0DCE1;
}

div#registration-block {
    margin-top: 10px;
}

div#login-news {
    vertical-align: top;
    margin-left: 1%;
    width: 48%;
    display: inline-block;
}

div#login-news h3 {
    margin-top: 1px;
}

div#login-users-help {
    width: 100%;
}

div#login-block div.form-group {
    display: inline-block;
    width: 39%;
    margin-left: 1%;
}

.login-submit {
    margin-top: -3px;
    margin-left: 1%;
}