p, span, div {
    cursor: default;
}

header {
    margin-bottom: -30px;
}

#sidebar {
    margin-right: -21px;
    padding: 0px;
}

#main {
    padding: 0px;
}

#item-list-sidebar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    background: #E0EEF0;
    padding-top: 9px;
}

#item-list {
    padding: 0.2%;
    overflow-y: scroll;
    height: 460px;
}

#item-list .item-card:first-child {
    margin-top: 2px;
}

.item-card {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
}

.item-card--new {background:whitesmoke;}
.item-card--plus {background: #D3FBC5;}
.item-card--minus {background: #FBD1C5;}

.item-card > .time {
    display: inline-block;
}

#item-create {
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
    transition: background linear 0.2s;
    margin-top: 10px;
    width: 92.5%;    
    background: #2c3e50;
    color: #E0EEF0;
    text-align: center;
    cursor: pointer;
}

#item-create:hover {
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
    background: #3C5267;
}

.item-card > span, .item-card > div, .item-card > p {
    cursor:pointer;
}

.item-card:hover {
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
    background: #EAF2F5;
}

.item-card.item-card--active {
    background: #D0DCE1;
}

.item-actions {
    float: right;
    display: inline-block;
}

.item-actions > div.icon {
    cursor: pointer;
}