.modal-custom {
    width: 35%;
    position: absolute;
    z-index: 1001;
    top: 25%;
    left: 25%;
    background: whitesmoke;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.modal-custom__title {
    background: #2c3e50;
}

.modal-custom__title, .modal-custom__title .title {
    cursor: move;
}

.modal-custom__title .title, .modal-custom__title .button-action {
    display: inline-block;
    color: whitesmoke;
    font-size: 20px;
    padding: 2%;
}

.modal-custom__title .button-action {
    float: right;
}

.modal-custom__content {
    padding: 10px;
}

.button-action.modal-custom-close, .button-action.modal-custom-edit {
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
    transition: background linear 0.2s;
    cursor: pointer;
}

.button-action.modal-custom-close:hover, .button-action.modal-custom-edit:hover {
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
    background: #3C5267;
}