{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/public/css/*'
                filter='cssrewrite'
                output='bundles/app/css/*.css'
                    '@AppBundle/Resources/public/css/layout.css'
                    '@AppBundle/Resources/public/css/main.index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block container %}
    <div>
        {% block body %}
            <div>
                <div id="sidebar" class="col-sm-4">
                    {% block sidebar %}
                        <div id="analytics-list-sidebar">
                            <a href="#" class="active">Расходы/Доходы за месяц/год по всем категориям</a>
                            <a href="#" class="">Линейный график за промежуток времени</a>
                        </div>
                    {% endblock %}
                </div>
                <div id="main" class="col-sm-8">
                    {% block main %}
                        <div id="filter"></div>
                        <div id="content-chart"></div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        output='resources/js/*.js'
            './/bower_components/chart.js/dist/Chart.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

