{% extends 'modal/view.html.twig' %}
{% block modalId %}view-item-modal{% endblock %}
{% block modalTitle %}Просмотр статьи{% endblock %}
{% block modalActions %}
    {{ parent() }}
    <div class="button-action modal-custom-edit">
        <div class="icon icon--edit">
            <svg viewbox="-5 -5 45 45" fill="whitesmoke">
                <use xlink:href="#edit"></use>
            </svg>
        </div>
    </div>
{% endblock %}
{% block modalViewContent %}
    <div class="view-block__content">
        {% set fields = {
                          "title": "Наименование",
                          "total": "Сумма",
                          "description": "Примечание",
                          "date": "Дата"
                        } %}
        {% for class, title in fields %}
            <div class="info-line">
                <div class="text">
                    {{ title }}: 
                    <div class="text-span item-field-{{ class }}" data-field="{{ class }}"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}