{% extends 'modal/form.html.twig' %}
{% block modalId %}form-item-create-modal{% endblock %}
{% block modalTitle %}Создание новой статьи{% endblock %}
{% block modalFormContent %}
    {% set form = formCreateItem %}
    {{ form_start(form, {attr: { id: "form-item-create" } }) }}
        <div class="input-block">
            {{ form_row(form.title) }}
        </div>
        <div class="input-block input-block-group total">
            {{ form_row(form.total) }}
        </div>
        <div class="input-block input-block-group type">
            {{ form_row(form.type) }}
        </div>
        <div class="input-block input-block-group category">
            {{ form_row(form.category) }}
        </div>
        <div class="input-block">
            {{ form_row(form.description) }}
        </div>
        <div class="input-block">
            {{ form_row(form.date) }}
        </div>
        <div class="input-block">
            <div class="modal-custom-button-group__elem">
                <input id="modal-custom-submit" class="main-button" type="submit" value="Создать" />
            </div>
        </div>
   {{ form_end(form) }}
{% endblock %}